<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=decive-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./index.css">
  <title>简易管理后台</title>
</head>
<body>
  <div id="app">
    <h1 class="tc">档案库资料管理</h1>
    <el-button @click="addDialog = true" type="primary" >新增</el-button>

    <ul class="box">
      <li v-for="(item, index) in lists" :key="index" class="items">
        <section class="head">
          <img :src="item.imgUrl" :onerror="defaultImg" alt="">
          <h5>{{ item.name }}</h5>
          <p>{{ item.position }}</p>
          <p>投资项目：{{ item.project }}</p>
          <p>勤劳指数：
            <el-rate v-model="item.index" :max="10" disabled></el-rate>
          </p>
          <p>标签：{{ item.detail }}
            <el-button type="danger" size="small">删除</el-button>
            <el-button type="primary" size="small">编辑</el-button>
            <el-button size="small" @click="item.show = !item.show">{{ item.show ? '隐藏评论' : '展开评论' }}</el-button>
          </p>
        </section>

        <section class="comments" v-show="item.show">
          <div class="com" v-for="(items, i) in item.evaluate" :key="i">
            <img :src="items.imgUrl" :onerror="defaultImg" alt="">
            <p class="rote">{{ items.name }} <span>{{ items.createdTime }}</span></p>
            <p class="rote">
              <el-rate v-model="items.index" :max="10" disabled></el-rate>
            </p>

            <p>{{ items.content }}</p>

            <p>
              <i class="el-icon-share"></i>{{ items.share }}
              <i style="display: inline-block;width: 20px;"></i>
              <i class="el-icon-star-on"></i>{{ items.agreeNum }}

              <el-button type="danger" size="small">删除</el-button>
            </p>
          </div>
        </transition-group>
      </li>
    </ul>

    <el-dialog :visible.sync="visible" :fullscreen="true" :show-close="false" :close-on-press-escape="false" class="login">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-position="top" label-width="70px" class="demo-ruleForm login-box">
        <h3 class="tc">登陆</h3>
        <el-form-item label="用户名" prop="name">
          <el-input v-model="ruleForm.name" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="ruleForm.password" placeholder="请输入密码" @keydown.enter.native="submitForm('ruleForm')"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">登陆</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog :visible.sync="addDialog" title="新增" :show-close="false" :close-on-press-escape="false" class="add" top="50px" width="500px">
      <el-form :model="addForm" :rules="addRules" ref="addForm" label-width="70px" class="demo-ruleForm">
        <!-- <h3 class="tc">新增</h3> -->
        <el-form-item label="姓名" prop="name">
          <el-input v-model="addForm.name" placeholder="请输入姓名"></el-input>
        </el-form-item>
        <el-form-item label="职位" prop="position">
          <el-input v-model="addForm.position" placeholder="请输入职位"></el-input>
        </el-form-item>
        <el-form-item label="项目" prop="project">
          <el-input v-model="addForm.project" placeholder="请输入项目" @keydown.enter.native="submitAdd('addForm')"></el-input>
        </el-form-item>
        <el-form-item label="头像" prop="imgUrl">
          <el-upload
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload">
            <img v-if="addForm.imgUrl" :src="addForm.imgUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitAdd('addForm')">保 存</el-button>
          <el-button @click="addDialog = false">取 消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          visible: false,
          addDialog: false,
          defaultImg: `this.src="http://cdn.jsan.top//suanli/no-image.png"`,
          ruleForm: {
            name: '',
            password: ''
          },
          rules: {
            name: [
              { required: true, message: '请输入用户名', trigger: 'blur' },
              { min: 4, max: 8, message: '长度在 4 到 8 个字符', trigger: 'blur' }
            ],
            password: [
              { required: true, message: '请输入密码', trigger: 'blur' },
              { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
            ]
          },
          lists: [
            {
              id: '0',
              name: '黄天伟',
              position: '比特时代创始人、CEO',
              project: 'GAT',
              index: 3,
              imgUrl: '',
              detail: '1,2,3',
              show: false,
              evaluate: [
                {
                  name: '海明威',
                  imgUrl: '',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: '',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                }
              ]
            },
            {
              id: '1',
              name: '黄天伟',
              position: '比特时代创始人、CEO',
              project: 'GAT',
              index: 3,
              imgUrl: 'http://cdn.jsan.top/xsiyin/9.jpg',
              detail: '1,2,3',
              show: false,
              evaluate: [
                {
                  name: '海明威',
                  imgUrl: '',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                },
                {
                  name: '海明威',
                  imgUrl: 'http://cdn.jsan.top/xiangsiyin/9.jpg',
                  index: 4,
                  content: `关键时刻作恶怎么能少得了OK?昨晚一个公告隐藏下架几十种流通差的`
                          + `空气币！让周末不再平静，其中不乏就有李笑来们的站台币，没有手续费赚就翻脸了也是不要不要的，`
                          + `隐藏下架空气币会加速空气归零，加仓主流币雄起，对币圈长远来说是利好`,
                  createdTime: '2018/12/06',
                  agreeNum: 30,
                  share: 14
                }
              ]
            }
          ],
          addForm: {
            name: '',
            position: '',
            project: '',
            imgUrl: ''
          },
          addRules: {
            name: [
              { required: true, message: '请输入', trigger: 'blur' }
            ],
            position: [
              { required: true, message: '请输入', trigger: 'blur' }
            ],
            project: [
              { required: true, message: '请输入', trigger: 'blur' }
            ]
          }
        }
      },
      methods: {
        notice (type = 1, mes = '') {
          this.$notify({
            title: type == 1 ? '提示' : '成功',
            type: type == 1 ? 'warning' : 'success',
            message: mes
          });
        },
        handleAvatarSuccess(res, file) {
          this.addForm.imgUrl = res.url;
        },
        beforeAvatarUpload(file) {
          const isJPG = (file.type === 'image/jpeg') || (file.type === 'image/png');
          const isLt2M = file.size / 1024 / 1024 < 2;

          if (!isJPG) {
            this.$message.error('上传头像图片只能是JPG或png格式!');
          }
          if (!isLt2M) {
            this.$message.error('上传头像图片大小不能超过 2MB!');
          }
          return isJPG && isLt2M;
        },
        submitAdd (formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              alert('111')
            } else {
              return false;
            }
          });
        },
        submitForm (formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              let obj = {
                name: 'admin',
                password: '123456'
              }
              if ((this.ruleForm.name === obj.name) && (this.ruleForm.password === obj.password)) {
                this.notice(2, '登陆成功')
                this.visible = false
              } else {
                this.notice(1, '用户名或密码错误')
              }
            } else {
              return false;
            }
          });
        }
      }
    })
  </script>
</html>