// 覆盖样式

// $--color-primary: $theme-blue;

// $--color-success: $theme-green;
// $--color-warning: $theme-yellow;
// $--color-danger: $theme-red;
// $--color-info: #5ac1dd;

$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import '../../../node_modules/element-ui/packages/theme-chalk/src/index';

.el-breadcrumb__inner, .el-breadcrumb__inner a{
  font-weight: 400;
}

.el-card__header {
  padding: 14px;

  i {
    margin-right: 20px;
  }
}

.el-card__body {
  padding: 14px;
}

.ve-line {
  > div {
    > div:nth-of-type(1) {
      width: 100%!important;
    }
  } 
}

.el-table-column--selection {
  text-align: center !important;
}

.in_tab{
  .el-form-item__label {
    font-weight: bold;
  }
}

.el-input-group__prepend {
  min-width: 40px;
}

._authorities {
  .el-tree {
    > .el-tree-node {
      width: 25%;
      float: left;
    }
  }
  
}

.el-dialog__body {
  padding: 20px;
}

.el-input-number .el-input__inner {
  text-align: left;
}

.filter-time {
  .el-radio__input {
    display: none;
  }
  .el-radio__label {
    padding-left: 5px;
  }
}

.el-dialog__header {
  border-bottom: 1px solid $border-color;
}

.el-input-group__prepend {
  min-width: 80px;
}

.el-input {
  &.radiu {
    .el-input__inner {
      border-radius: 16px;
    }
  }
}
