
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

#app {
  padding: 20px;
}

.tc {
  text-align: center;
}

#app > .el-button {
  margin-top: 20px;
}

/* 登陆 */
#app .login .el-dialog {
  background-image: url(http://cdn.jsan.top//suanli/bg.jpg);
  background-size: cover;
}

.login .el-dialog .el-dialog__body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  padding: 20px;
  width: 300px;
  background: #fff;
  border-radius: 8px;
}

.login-box h3 {
  line-height: 50px;
}

.login-box .el-form-item__label {
  padding: 0;
}

.login-box .el-button {
  width: 100%;
}

/* 列表 */

.box .items {
  padding: 20px;
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

.box .items:last-of-type {
  /* border: none; */
}

.box .items .head img {
  margin-right: 10px;
  float: left;
  width: 106px;
  height: 106px;
}

.box .items .head .el-rate {
  display: inline;
}

.box .items .head .el-button {
  float: right;
  margin-right: 20px;
}

.box .items .comments {
  padding: 20px;
}

.box .items .comments .com {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.box .items .comments .com img {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.box .items .comments .com .el-rate {
  display: inline;
}

.box .items .comments .com .rote {
  line-height: 21px;
}

.box .items .comments .com .el-rate .el-icon-star-on:before {
  font-size: 12px;
}

.box .items .comments .com .el-button {
  float: right;
  padding: 5px 7px;
}

.add .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.add .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.add .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.add .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
